* {
  /* border: grey solid 0.5px; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 0.1rem;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: white;
  border-bottom: lightblue solid 2px;
  display: flex;
  height: 4rem;
  width: 100%;
  margin-right: 1em;
  z-index: 2
}

header p {
  margin-bottom: 0;
}


/* NAV BAR */

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(11, 28, 37, 0.801);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.25rem;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #7affff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}



/* WELCOME */
#sect-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: orange; */
  height: 100vh;
  text-align: center;
}

/* LATEST RANDOM */
#sect-latest {
  display: flex;
  flex-direction: column;
  /* background-color: pink; */
  margin: 1em;
}

#sect-latest>h2 {
  height: 25%;
}

#sect-latest>div {
  height: 60%;
}

#carouselExampleSlidesOnly {
  z-index: 0;
  margin: 1em;
}

.carousel-inner {
  display: flex;
  align-items: center;

}

.carousel-item active {
  height: 50%;
}

/* RANDOM */
#sect-random {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: lightskyblue; */
  height: 100%;
  margin: 0 1em 1em 1em;
  z-index: 0;
  padding: 9em 4em,
}


#sect-random img {
  width: 100%;
}

.container-random {
  display: flex;
  flex-direction: column;
  height: 65%;
}

.txt-random {
  /* width: 100%; */
  margin: 1.5em 1em;
}

#carousel-random {
  height: 50%;
}

/* FOOTER */
footer {
  /* background-color: lightgreen; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.createdby {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-bar-bottom {
  margin-bottom: 1rem;
}

.nav-bar-bottom {
  display: flex;
  flex-direction: row;

}

/* REGISTER */

#sect-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: lightskyblue; */
  height: 90%;
  padding: 8em 4em;
}

.container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65%;
  width: 50%
}


/* LOGIN  */

#sect-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: lightskyblue; */
  height: 100%;
  padding: 9em 2em;


}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65%;
  width: 50%
}

.nav-bar-bottom {
  font-size: 0.5em;
}

/* MOVIE DETAILS */

#sect-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: lightskyblue; */
  height: 100%;
  margin: 0 1em 1em 1em;
  z-index: 0;
  padding: 9em 4em,

}

.container-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65%;

}

.img-cont {
  height: 45%;
  width: 90%;
  padding-top: 1rem;
}

.titleMovieSearch {
  padding-top: 6.5rem;
  font-size: 1.3em;

}



@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-height: 667px) {}